@using Microsoft.AspNetCore.SignalR.Client
@using Domain.Entities
@page "/"
@inject HubConnection hubConnection;

<PageTitle>NavalBattle</PageTitle>

<h1>Играть в NavalBattle</h1>

<InputText @bind-Value="roomRegister!.Login"></InputText>
<button class="btn btn-primary" @onclick="Login">Войти</button>



@if (isAuthorized)
{
    
    
}

<EditForm Model="@roomRegister" @OnValidSubmit="@CreateRoom">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText @bind-Value="roomRegister!.RoomName"></InputText>
</EditForm>
@* <form method="post">
    <label for="login">Логин: </label>
    <input id="login" @bind-value="login"/>

    <label for="roomName">Имя комнаты: </label>
    <input @bind-value="roomName" />
</form>
<button class="btn btn-primary" @onclick="CreateRoom">Создать комнату</button>
 *@

@code {
    public bool isAuthorized = false;

    public class RoomRegister
    {
        [Required]
        public string? Login { get; set; }
        [Required]
        public string? RoomName { get; set; }
    }

    [SupplyParameterFromForm]
    public RoomRegister? roomRegister { get; set; }

    protected override void OnInitialized() => roomRegister ??= new();

    void CreateRoom()
    {
        hubConnection.SendAsync("CreateRoom", new User(roomRegister.Login), roomRegister.RoomName);
    }

    void Login()
    {   
        
    }
}