@using Microsoft.AspNetCore.SignalR.Client
@using Domain.Entities
@using Services
@using Client.Components.Shared
@page "/"
@inject HubConnection hubConnection;
@inject ClientService clientService;
@inject NavigationManager Navigation
@inject IJSRuntime JsRuntime
@rendermode InteractiveServer
@implements IDisposable

<PageTitle>NavalBattle</PageTitle>

<h1>Играть в NavalBattle</h1>

<label for="login">Логин: </label>
<InputText id="login" @bind-Value="roomRegister!.Login"></InputText>
<button class="btn btn-primary" @onclick="Login">Войти</button>

@if (isAuthorized)
{
    <RoomList></RoomList>
    <EditForm Model="@roomRegister" OnValidSubmit="@CreateRoom">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <label for="roomName">Название комнаты: </label>
        <InputText id="roomName" @bind-Value="roomRegister!.RoomName"></InputText>
        <button class="btn btn-primary" type="submit">Создать комнату</button>
    </EditForm>
}

@code {
    public bool isAuthorized = false;

    public class RoomRegister
    {
        [Required]
        public string? Login { get; set; }
        [Required]
        public string? RoomName { get; set; }
    }

    [SupplyParameterFromForm]
    public RoomRegister? roomRegister { get; set; }

    private async void ErrorMethod(string message)
    {
        isAuthorized = false;
        await InvokeAsync(StateHasChanged);
        clientService.ErrorOcured -= ErrorMethod;
        // await JsRuntime.InvokeVoidAsync("alert", message);
    }

    protected override void OnInitialized()
    {
        roomRegister ??= new();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            hubConnection.On<string>("Error", clientService.Error);
            clientService.ErrorOcured += (message) => ErrorMethod(message);
        }
    }

    public void Dispose()
    {
        clientService.ErrorOcured -= ErrorMethod;
    }

    private void CreateRoom()
    {        
        hubConnection.SendAsync("CreateRoom", roomRegister!.RoomName, 10, 10);
        // Navigation.NavigateTo("/room");
    }

    private void Login()
    {
        isAuthorized = true;
        hubConnection.SendAsync("LoginUser", roomRegister!.Login!);
    }
}