@using Microsoft.AspNetCore.SignalR.Client
@using Domain.Entities
@using Client.Components.Shared
@rendermode InteractiveServer

@page "/"
@inject HubConnection hubConnection;

<PageTitle>NavalBattle</PageTitle>

<h1>Играть в NavalBattle</h1>

<label for="login">Логин: </label>
<InputText id="login" @bind-Value="roomRegister!.Login"></InputText>
<button class="btn btn-primary" @onclick="Login">Войти</button>


@if (isAuthorized)
{
    <RoomList></RoomList>
@*     <EditForm Model="@roomRegister" OnValidSubmit="@CreateRoom">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <label for="roomName">Название комнаты: </label>
        <InputText id="roomName" @bind-Value="roomRegister!.RoomName"></InputText>
        <button class="btn btn-primary" type="submit">Создать комнату</button>
    </EditForm> *@
}


@code {
    public bool isAuthorized = false;

    public class RoomRegister
    {
        [Required]
        public string? Login { get; set; }
        [Required]
        public string? RoomName { get; set; }
    }

    [SupplyParameterFromForm]
    public RoomRegister? roomRegister { get; set; }

    protected override void OnInitialized() => roomRegister ??= new();

    private void CreateRoom()
    {
        // hubConnection.SendAsync("CreateRoom", new User(roomRegister!.Login!), roomRegister.RoomName);
    }

    private void Login()
    {
        // hubConnection.SendAsync("Login", new User(roomRegister!.Login!));
        isAuthorized = true;
    }
}